<header>
    <div class="container">
        <div class="col s12">
            <div class="info-block">
                <div class="logo"><a class="brand-logo" href="/" ><img class="logo-img" src="../img/logo.svg" alt="logo"></a></div>
                <ul class="collection">
                    <li class="collection-item valign-wrapper">My order</li>
                    <li class="collection-item valign-wrapper">USD</li>
                    <li class="collection-item valign-wrapper">RU</li>
                    <li class="collection-item valign-wrapper">CALL US 067930400</li>
                </ul>
            </div>
            <!-- Dropdown  Structure-->
            <nav>
                <div class="nav-wrapper"><a class="sidenav-trigger" href="#" data-target="mobile-demo"><i
                        class="material-icons">menu</i></a>
                    <ul class="hide-on-med-and-down">
                        <li><a href="aboutus">Компания</a></li>
                        <li><a href="carpark">Парк авто</a></li>
                        <li><a href="conditions">Условия проката</a></li>
                        <li><a href="promotions">Акции</a></li>
                        <li><a href="contacts">Контакты</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="aboutus">Компания</a></li>
                <li><a href="autopark">Парк авто</a></li>
                <li><a href="conditions">Условия проката</a></li>
                <li><a href="promos">Акции</a></li>
                <li><a href="cars_list">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>