ul
	each car in cars
		li.collection-item.avatar
			img.circle(src='./images/tipo.png', alt='' width='300')
			span.title Title
			p
				| First Line
				br
				|          Second Line
			a.secondary-content(href='#!')
				i.material-icons grade