extends layout

block content
	.container.order
		.row
		.col.s12
			ul.order-steps.valign-wrapper
				li.valign-wrapper  1. ВЫБОР АВТО
				li.arrow.valign-wrapper
				li.valign-wrapper  2. ВЫБОР ДОПОЛНЕНИЙ И ОПЦИЙ
				li.arrow.valign-wrapper
				li.valign-wrapper 3. ОФОРМЛЕНИЕ ЗАКАЗА
		.row
	#cars-list.container
		.row
			.col.s12.m6.l6
				img.circle.car-image(src='../images/corolla.jpg', alt='')
			.col.s12.m6.l6
				.title Volkswagen Polo Sedan
				.classification Эконом класс
				ul.car-char
					li
						img(src='../images/gearshift.png')
						span Автомат
					li
						img(src='../images/sedan.png')
						span Седан
					li
						img(src='../images/engine.png')
						span  1,4 л (94 л.с.)
					li
						img(src='../images/seat.png')
						span 5 мест
				ul.car-char
					li
						img(src='../images/chassis.png')
						span Передний
					li
						img(src='../images/oil.png')
						span Бензин/ГАЗ
					li
						img(src='../images/conditioner.png')
						span  Кондиционер
					li
						img(src='../images/distance.png')
						span 7.3 л/100 км.
				ul.collection.prices
					li.collection-item(data-price='20')
						.day за 1 сутки
						.price 20 $
						.desc 30 и более суток:
					li.collection-item(data-price='23')
						.day за 1 сутки
						.price 23 $
						.desc от 10 до 29 суток:
					li.collection-item(data-price='25')
						.day за 1 сутки
						.price 25 $
						.desc от 4 до 9 суток:
					li.collection-item(data-price='33')
						.day за 1 сутки
						.price 33 $
						.desc от 2 до 3 суток:
				.debt
					| Цена залога: 300 дол
				.condition
					p  Условия аренды:
					ul
						li Минимальный срок аренды - 2 суток
						li Минимальный стаж - 2 года
						li Минимальный возраст - 21 год
		.row
			p.center-align  Online бронирование автомобиля:
			form(action='')
				table
					tbody
						tr
							td 1
							td Тариф включает
							td
								div - Страхование КАСКО;
								div - Страховка гражданской ответственности;
							td
								div - Пробег 350 км/сутки;
								div - Круглосуточная поддержка.
						tr
							td 2
							td Период аренды
							td
								ul
									li Когда забираете?
									li
										input#dateFrom.datepicker.datefrom(type='text')
									li Где забираете?
									li
										select.takeFrom
											option(value='', disabled='', selected='') Выбирете место
											option(value='0') Офис - бесплатно
											option(value='30') Аэропорт Борисполь - 30$
											option(value='30') Аэропорт Жуляны - 30$
										label Выбирете место
							td
								ul
									li Когда отдаете?
									li
										input#dateTo.datepicker.dateto(type='text')
									li Где отдаете?
									li
										select.takeTo
											option(value='', disabled='', selected='') Выбирете место
											option(value='0') Офис
											option(value='50') Аэропорт Борисполь - 50$
											option(value='50') Аэропорт Жуляны - 50$
						tr.additional
							td 3
							td Дополнительные опции
							td(colspan='2')
								ul
									li.calc
										label
											input(type='checkbox')
											span GPS навигатор
											span.price.right-align 1
									li.calc
										label
											input(type='checkbox')
											span Безлимитный wi-fi интернет
											span.price 2
									li.calc
										label
											input(type='checkbox')
											span Видеорегистратор
											span.price 3
									li.calc
										label
											input(type='checkbox')
											span Планшет с картами 3G (iPad)
											span.price 4
									li.calc
										label
											input(type='checkbox')
											span Детское автокресло (0+)
											span.price 5
									li.calc
										label
											input(type='checkbox')
											span Второй водитель (БЕСПЛАТНО)
											span.price 6
									li.calc
										label
											input(type='checkbox')
											span Страхование колес и стекол
											span.price 7
									li.calc
										label
											input(type='checkbox')
											span Экшен-камера GoPro
											span.price 8
						tr
							td 4
							td
								| Стоимость за
								span.dateAmount 1
								|  сутки
							td
								| Предварительная стоимость аренды:
								span.totalAmount 0
								|  $
							td
								| Залоговая сумма:
								span.rezerv 300
								|  $
						tr
							td 5
							td Персональные данные
							td(colspan='2')
								.row
									.row
										.input-field.col.s4
											input#first_name.validate(type='text')
											label(for='first_name') Имя
										.input-field.col.s4
											input#last_name.validate(type='text')
											label(for='last_name') Фамилия
										.input-field.col.s4
											input#phone.validate(type='text', placeholder='+380 ......')
											label(for='phone') Телефон
									.row
										.input-field.col.s12
											input#email.validate(type='email')
											label(for='email') Email
									.row
										.row
											.input-field.col.s12
												textarea#textarea1.materialize-textarea
												label(for='textarea1') Комментарий
								.right-align
									button.confirm(type='button') Забронировать авто
				.center-align