extends layout.pug

block content
	#index-banner.section.no-pad-bot
		.container
			.row
				.col.s12
					include content/breadcrums
			.row
				.col.s3
					.card-panel.green.darken-2 This is a card panel with a teal lighten-2 class
				.col.s9
					include content/cars_list
	.container
		.section