nav.brown.darken-4(role='navigation')
	.nav-wrapper.container
		a.brand-logo(href='#') Logo
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href='autopark') Автопарк
			li
				a(href='booking') Бронирование
			li
				a(href='prices') Цены
			li
				a(href='promos') Предложения
			li
				a(href='conditions') Условия