.ui.menu.c-nav1 {
    margin-bottom: 0;
}

.ui.menu.c-nav2 {
    margin-top: 0;
    justify-content: center;
}


.ui.card.c-previlegis:last-child {
    margin: auto;
}
.mobs {
    margin-right: 30px;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.js-carousel > div {

}

.js-carousel img {
    width: 100%;
}

.paragraph {
    text-align: justify;
}