nav
	.nav-wrapper
		a.sidenav-trigger(href='#', data-target='mobile-demo')
			i.material-icons menu
		ul.hide-on-med-and-down
			li
				a(href='aboutus') Компания
			li
				a(href='autopark') Парк авто
			li
				a(href='conditions') Условия проката
			li
				a(href='promos') Акции
			li
				a(href='cars_list') Контакты

ul#mobile-demo.sidenav
	li
		a(href='aboutus') Компания
	li
		a(href='autopark') Парк авто
	li
		a(href='conditions') Условия проката
	li
		a(href='promos') Акции
	li
		a(href='cars_list') Контакты
